.navigation {
  width: 100%;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navigation__link {
  text-decoration: none;
  color: #be8bbe;
  cursor: pointer;
  font-family: "BerkshireSwash";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.navigation__link:hover {
  color: #923c92;
  font-weight: bold;
}

.navigation__link_active {
  color: #923c92;
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  /*
 PA PONER DESPUES CON PAGINA EN CEL 

.nav__icon-menu {
  width: 20px;
  height: auto;
}
  */
  .navigation__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .navigation__link {
    font-size: 12px;
  }
}
