.header {
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  gap: 10px;
}

.header__logo {
  max-width: 150px;
  height: auto;
}

.header__line {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 115px;
    height: auto;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 70px;
    height: auto;
  }
}
