.aboutMe__container {
  max-width: 95%;
  height: auto;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .aboutMe__values-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .aboutMe__values-products-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .aboutMe__container {
    margin: 15px auto;
    gap: 30px;
  }
}
